<!--The content below is only a placeholder and can be replaced.-->
<div class="bg-dark h-100 d-flex">
  <div style="width: 200px;" *ngIf="mostrarMenu">
    <div class="row login">
      <a routerLink="/" class="brand-logo right mx-auto">
        <img src="../assets/img/logo.png" style="height: 50px;" alt="logo" class="img-responsive">
      </a>
    </div>
    <div class="row">
      <div class=" d-flex align-items-center p-4">
        <div class="p-1">
          <img class="bg-white rounded-circle" src="../assets/img/perfil.png" style="height: 45px;" alt="perfil">
        </div>
        <p class="admin">Administrador</p>
      </div> 
    </div>
    <div class="row menu">
      <ul class="nav flex-column p-4">
        <li routerLinkActive="active" class="nav-item"><a routerLink="/" class="nav-link text-secondary">Cadastro</a></li>
        <li routerLinkActive="active" class="nav-item"><a routerLink="/login" class="nav-link text-secondary">Logout</a></li>       
      </ul> 
    </div>
  </div>
  <div class="bg-dark h-100 w-100">
    <router-outlet></router-outlet>
  </div>
</div>

  
